@charset "UTF-8";
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
.wc_email_inquiry_expand_text {
  min-width: 20px;
  display: inline-block;
}
.wc_email_inquiry_custom_form_container {
  position: relative !important;
}
.wc_email_inquiry_button_container {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
body .wc_email_inquiry_button_container .wc_email_inquiry_button {
  position: relative !important;
  cursor: pointer;
  display: inline-block !important;
  line-height: 1 !important;
}
body .wc_email_inquiry_button_container .wc_email_inquiry_email_button {
  padding: 5px 5px !important;
  margin: 0;
  background-color: #EE2B2B !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#FBCACA),color-stop(1,#EE2B2B)) !important;
  background: -moz-linear-gradient(center top,#FBCACA 20%,#EE2B2B 100%) !important;
  border: 1px solid #EE2B2B !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
body .wc_email_inquiry_button_container .wc_email_inquiry_hyperlink_text {
  font: bold 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
body .wc_email_inquiry_button_container .wc_email_inquiry_hyperlink_text:hover {
  color: #999999 !important;
}
.wc_email_inquiry_form * {
  box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
}
.wc_email_inquiry_form,
.wc_email_inquiry_modal.default .modal-content {
  background-color: #ffffff !important;
}
body .wc_email_inquiry_form,
.wc_email_inquiry_form,
.wc_email_inquiry_form .wc_email_inquiry_field,
body .wc_email_inquiry_field {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
.wc_email_inquiry_custom_form_product_heading {
  font: normal 26px/1.4em Arial, sans-serif !important;
  color: #29577F !important;
  clear: none !important;
  margin-top: 5px !important;
  padding-top: 0 !important;
}
a.wc_email_inquiry_custom_form_product_url {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #29577F !important;
}
.wc_email_inquiry_subject {
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
.wc_email_inquiry_field input,
.wc_email_inquiry_field textarea {
  box-sizing: border-box !important;
  border: 1px solid #CCCCCC !important;
  border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  background-color: #FAFAFA !important;
  color: #000000 !important;
}
body .wc_email_inquiry_form_button,
.wc_email_inquiry_form_button {
  position: relative !important;
  cursor: pointer;
  display: inline-block !important;
}
body .wc_email_inquiry_form_button,
.wc_email_inquiry_form_button {
  padding: 7px 10px !important;
  margin: 0;
  background-color: #EE2B2B !important;
  background: -webkit-gradient(linear,left top,left bottom,color-stop(.2,#FBCACA),color-stop(1,#EE2B2B)) !important;
  background: -moz-linear-gradient(center top,#FBCACA 20%,#EE2B2B 100%) !important;
  border: 1px solid #EE2B2B !important;
  border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  font: normal 12px/1.4em Arial, sans-serif !important;
  color: #FFFFFF !important;
  text-align: center !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  text-decoration: none !important;
}
.wc_email_inquiry_result_heading {
  font: normal 18px/1.4em Arial, sans-serif !important;
  color: #000000 !important;
}
